body{
    margin-top: 10vh;
}
.login{
    border: 1px solid transparent;
    position: relative;
    right: 2%;
    border-radius: 8px;
    color: black;
    background-color: orangered;
    height:50%;
    width: 25%;
    font-size: 100%;
    cursor: pointer;
}
.logout{
    position: relative;
    right: 2%;
    border: 1px solid transparent;
    border-radius: 8px;
    color: black;
    background-color: orangered;
    height:50%;
    width: 8%;
    font-size: 100%;
    cursor: pointer;
}
.payment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 9%;
    height: 38%;
    width: 17%;
    background-color: yellow;
    border-radius: 5px;
    border: none;
    color: brown;
    font-size: 100%;
    cursor: pointer;
}