/* body{
    margin-top: 10vh;
} */
.products-container{
    overflow-x: scroll;
}
.products-cards{
    display: flex;
    flex-direction: column;
    width: 22%;
    min-width: 300px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border: 1px solid black;
    margin: 1%;
    border-radius: 5px;
}
.products-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 85%;
}
.products-pay-button{
    background-color:orange;
    border-radius:4;
    height:20%;
    width:60%;
}
/* style={{backgroundColor:"orange", borderRadius:3, height:"20%",width:"60%"}} */